*{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande',sans-serif;
    
}
body{
    background-color: rgb(39,50,56);
    color: rgb(235, 231, 225);
}
img
{
    width: 450px;
    height: 150px;
    margin-left: 5%;
}

.head-container{
    background-color: white;
    color: rgb(105, 133, 147);
    text-align: center;
    font-family: Impact,Charcoal, sans-serif;
}

.main-container{
    font-family: Arial,  Gadget, sans-serif;
}

.main-container .p1
{
    color:rgb(232,204,192);
}
.p1_images
{
    border:4px solid rgb(232,204,192);
    box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.514);
}
.main-container .p2
{
    color:rgb(162,193,203);
}
.p2_images
{
    border:4px solid rgb(162,193,203);
    box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.514);
}
.main-container .p3
{
    color:rgb(188,189,191);
}
.p3_images
{
    border:4px solid rgb(188,189,191);
    box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.514);
}
.main-container .p4
{
    color:rgb(142,150,164);
}
.p4_images
{
    border:4px solid rgb(142,150,164);
    box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.514);
}
.main-container .p5
{
    color:rgb(181,180,171);
}
.p5_images
{
    border:4px solid rgb(181,180,171);
    box-shadow: 0 2px 4px 2px rgba(17, 17, 17, 0.514);
}
