*{
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
}

body{
    margin: 0;
    background-color: teal;
}

.title{
    text-align: center;
    color: #fcea3e;
}

.images-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

.images{
    border: 4px solid white
}