* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #e4c05f 0%, #690834 35%, #240046 70%);
  color: #b3c6da;
}

.title {
  max-width: 900px;
  margin: 24px auto;
  padding: 24px 16px;
  text-align: center;
  border-radius: 16px;
  
  background: rgba(15, 23, 42, 0.9);
  border: 1px solid rgba(148, 163, 184, 0.4);

  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-title {
  margin: 32px 0 16px;
  padding-left: 12px;

  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: #00eaff;
  border-left: 4px solid #fbbf24; 
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 900px;
  margin: 0 auto 40px auto;
  padding: 0 16px 32px;
}
.game-card {
  background: rgba(15, 23, 42, 0.95); 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 24px; 
}

.game-card:hover {
  transform: translateY(-4px); /*Para q de efecto animado*/
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.45);
}

.game-header {
  padding: 10px 16px;
  border-bottom: 1px solid rgba(148, 163, 184, 0.4);
  background: rgba(15, 23, 42, 0.98);
  text-align: left;
}

.game-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #fbbf24;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.game-tagline {
  display: block;
  margin-top: 4px;
  font-size: 0.8rem;
  color: #cbd5f5;
  opacity: 0.8;
}

.game-card img {
  width: 100%;
  height: 190px;
  object-fit: cover; 
  display: block;
}

.game-description {
  padding: 16px 16px 8px;
  background: transparent;
  color: #e5e7eb;
  font-size: 0.9rem;
  line-height: 1.5;
}

.btn-center {
  text-align: center;
  padding: 0 16px 16px 16px;
}

.buy-btn {
  display: inline-block;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  cursor: pointer;

  background: #ff006e;
  border-radius: 12px;

  position: relative;
  overflow: hidden; 
  box-shadow: 0 6px 12px rgba(255, 0, 110, 0.4);

  transition: transform 0.2s ease;
}

.buy-btn:hover {
  transform: translateY(-5px);
  background-color: #26df79;
  box-shadow: 0 6px 12px rgba(1, 77, 58, 0.4);
}

.buy-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 120%;
  height: 200%;

  background: #ff4599; 

  border-radius: 50%;
  transform: translate(-50%, -90%);
  animation: drip 2s infinite ease-in-out;
  z-index: 0;
}

.buy-btn span {
  position: relative;
  z-index: 2;
}


.footer {
  max-width: 900px;
  margin: 0 auto 24px auto;
  padding: 12px 16px;
  border-radius: 999px;

  background: rgba(15, 23, 42, 0.9);
  color: #e5e7eb;
  text-align: center;
  font-size: 0.85rem;
  border: 1px solid rgba(148, 163, 184, 0.4);
}
